@using Phoenix.PhoenixApp.Presentation.MVC.Client.Extensions
@model Phoenix.PhoenixApp.Presentation.MVC.Models.ProfileModule.ProfilePictureModel


<script type="text/javascript">
    function DoAjaxPostAndMore(btnClicked) {
        var $form = $(btnClicked).parents('#picture-form-submit');
        $.ajax({
            type: "POST",
            url: $form.attr('action'),
            data: $form.serialize(),
            error: function (xhr, status, error) {
                //do something about the error
            },
            success: function (data) {
                $('#picture-view').html(data);
                $("#picture-edit").animate({ height: 'toggle' }).fadeOut("slow");
                $("#picture-edit-close-div").animate({ height: 'toggle' }).fadeOut("slow");
                $("#picture-view").animate({ height: 'toggle' }).fadeIn("slow");
                $("#picture-edit-open-div").animate({ height: 'toggle' }).fadeIn("slow");
            }
        });
        return false;// if it's a link to prevent post
    }

    $(function () {
        $("#picture-edit").hide();
        $("#picture-edit-close-div").hide();
        $("#picture-edit-open").click(function () {
            $("#picture-view").animate({ height: 'toggle' }).fadeOut("slow");
            $("#picture-edit-open-div").animate({ height: 'toggle' }).fadeOut("slow");
            $("#picture-edit").animate({ height: 'toggle' }).fadeIn("slow");
            $("#picture-edit-close-div").animate({ height: 'toggle' }).fadeIn("slow");
        });
        $("#picture-edit-close").click(function () {
            $("#picture-edit").animate({ height: 'toggle' }).fadeOut("slow");
            $("#picture-edit-close-div").animate({ height: 'toggle' }).fadeOut("slow");
            $("#picture-view").animate({ height: 'toggle' }).fadeIn("slow");
            $("#picture-edit-open-div").animate({ height: 'toggle' }).fadeIn("slow");
        });
    });

</script>

<div id="picture-edit-open-div" class="editlink"><a id="picture-edit-open" style="float: right;"><i class="icon-pencil-3"></i>Edit</a></div>
<div class="gap10"></div>
<div id="picture-view">
    @Html.Partial("_PictureSub")
</div>
<div id="picture-edit">
    @using (Html.BeginForm("Picture", "Edit", FormMethod.Post, new { id = "picture-form-submit" }))
    {
        @Html.ValidationSummary(true)
        <table>
            <tr>
                <td class="editor-label">
                   <img src="@Url.Action(MVCT.Profile.Picture(User.Identity.Name))" style="width: 140px; height: 140px;" />
                </td>
                <td class="editor-field">
                   @using (Html.BeginForm(MVCT.Edit.Picture(), FormMethod.Post, new {enctype = "multipart/form-data"}))
                    {
                        @Html.ValidationSummary(true)
                        <label for="file">Upload New Picture:</label>
                        <input type="file" name="file" id="file" />
                        <input type="submit"  onclick="DoAjaxPostAndMore(this)" />
                        <p><sup>Recommended size is 180 x 180 pixels</sup></p>
                    }
                </td>
            </tr>
            <tr>
                <td colspan="2" style="height: 10px;"></td>
            </tr>
            <tr>
                <td></td>
                <td>
                   @* <input type="button" value="Submit" onclick="DoAjaxPostAndMore(this)" /></td>*@
            </tr>
        </table>
    }
</div>
<div id="picture-edit-close-div" class="editlink"><a id="picture-edit-close" style="float: right;">Cancel</a></div>
<div class="clear"></div>


