<div class="tabs_Contact">
    <div class="tabs-header">Contacts</div>

    <!-- Contact Form -->
    <form action="" id="contactform">
        
        <table>
            <tr>
                <td class="editor-label">
                    <label for="name">Your Name</label>
                </td>
                <td class="editor-field">
                    <input type="text" name="name">
                </td>
            </tr>
            <tr>
                <td class="editor-label">
                    <label for="email">Your Email</label>
                </td>
                <td class="editor-field">
                    <input type="text" name="email">
                </td>
            </tr>
            <tr>
                <td style="height: 15px;"></td>
            </tr>
            <tr>
                <td class="editor-label">
                    <label for="message">Your Message</label>
                </td>
                <td class="editor-field">
                    <textarea name="message" cols="65" rows="6" style="height: 150px;"></textarea>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="height: 15px;"></td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="submit" name="submit" value="Send your message" class="button">
                </td>
            </tr>
        </table>
    </form>
    <!-- /Contact Form -->

</div>
