@model Phoenix.PhoenixApp.Presentation.MVC.Models.ProfileModule.ProfilePageModel

<div class="tabs_Stats">
    <div class="tabs-header">Results</div>
    <div class="tabs-header">@Html.Raw(Model.Results.Results)</div>
</div>