<div id="Righttabs" style="font-size: 12px;">
    <ul style="background: #444;">
        <li><a href="#tabs-1"><i class="icon-screen-3" style="font-size: 16px; margin: -5px; padding: -4px;"></i></a></li>
 @*       <li><a href="#tabs-2"><i class="icon-globe" style="font-size: 16px; margin: -5px; padding: -4px;"></i></a></li>*@
        <li><a href="#tabs-3"><i class="icon-user-add" style="font-size: 16px; margin: -5px; padding: -4px;"></i></a></li>
    </ul>
    <div id="tabs-1" style="background: #6bb130; color: #ffffff;">
        <div style="font-size: 14px; font-weight: bold; color: #ffffff;">@Html.Action(MVCT.Profile.Counter())</div>
    </div>
 @*   <div id="tabs-2" style="background: #6bb130; color: #ffffff;">
        <div style="font-size: 14px; font-weight: bold;">Online Friends List</div>
    </div>*@
    <div id="tabs-3" style="background: #6bb130; color: #ffffff;">
        <div style="font-size: 14px; font-weight: bold; color: #ffffff;">@Html.Action(MVCT.Friend.RequestCount())</div>
    </div>
</div>
