@*<script src="@Url.Content("~/Content/js/jquery.fileupload.js")" type="text/javascript"></script>
<link href="~/Content/css/jquery.fileupload-ui.css" rel="stylesheet" />*@
<script type="text/javascript">
    function pictureEditClose() {
        $("#picture-edit").animate({ height: 'toggle' }).fadeOut("slow");
        $("#picture-edit-close-div").animate({ height: 'toggle' }).fadeOut("slow");
        $("#picture-view").animate({ height: 'toggle' }).fadeIn("slow");
        $("#picture-edit-open-div").animate({ height: 'toggle' }).fadeIn("slow");
    }

    function pictureEditOpen() {
        $("#picture-view").animate({ height: 'toggle' }).fadeOut("slow");
        $("#picture-edit-open-div").animate({ height: 'toggle' }).fadeOut("slow");
        $("#picture-edit").animate({ height: 'toggle' }).fadeIn("slow");
        $("#picture-edit-close-div").animate({ height: 'toggle' }).fadeIn("slow");
        $.validator.unobtrusive.parse($("#picture-form-submit"));
    }

    $(function () {
        $("#picture-texteditor").cleditor();
        $("#picture-edit").hide();
        $("#picture-edit-close-div").hide();
        $("#picture-edit-open").click(pictureEditOpen);
        $("#picture-edit-close").click(pictureEditClose);
    });

</script>

<div id="picture-edit-open-div" class="editlink"><a id="picture-edit-open" style="float: right;"><i class="icon-pencil-3"></i>Edit</a></div>
<div id="picture-edit-close-div" class="editlink"><a id="picture-edit-close" style="float: right;">Cancel</a></div>
<div class="gap10"></div>
<div id="picture-view">
    @Html.Partial(MVCT.Edit.Views.Picture._View)
</div>
<div id="picture-edit">
    @Html.Partial(MVCT.Edit.Views.Picture._Edit)
</div>
<div class="clear"></div>
